* {
  margin: 0;
}

.app {
  background-color: #102e4a;
  color: white;
  height: 100vh;
}

.app__sec1info {
  margin-left: 5rem;
}

.app__sec1 > div > h1 {
  font-size: 5rem;
}
.app__sec1 > div > h2 {
  font-size: 2rem;
}

.app__sec1 {
  padding-top: 5rem;
}

header > img {
  width: 100px;
  height: auto;
}

.app__sec1 > div > span {
  text-align: right;
  display: block;
  margin-right: 3rem;
}

.app__aboutMe {
  margin-left: 5rem;
  padding: 1rem;
  background-color: #333;
  width: 50%;
  margin-top: 3rem;
  border-radius: 20px;
  color: #bfc7d5;
}

.orange {
  color: #f78c6c;
}

.blue {
  color: #82aaff;
}

.purple {
  color: #c792ea;
}

.green {
  color: #c3e88d;
}

.gold {
  color: #ffcb6b;
}

/* Styles for horizontal scrolling */

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.app__sec1 {
  width: 100%;
  height: 100%;
}

.app__sec2 {
  width: 50%;
  height: 100%;
  background-color: #0a244a;
}
