* {
  margin: 0;
}

.app {
  background-color: #0d0630;
  color: white;
  height: 100vh;
}

.app__sec1info {
  margin-left: 5rem;
}

.app__sec1 > div > h1 {
  font-size: 5rem;
}
.app__sec1 > div > h2 {
  font-size: 2rem;
}

.app__sec1 {
  padding-top: 8rem;
}
header {
  background-color: #0d0630;
  width: 100%;
  position: absolute;
  top: 0;
}

header > img {
  width: 100px;
  height: auto;
}

.app__sec1 > div > span {
  text-align: right;
  display: block;
  margin-right: 3rem;
}

.app__aboutMe {
  margin-left: 5rem;
  padding: 1rem;
  background-color: #333;
  width: 50%;
  margin-top: 3rem;
  border-radius: 20px;
  color: #bfc7d5;
}

.orange {
  color: #f78c6c;
}

.blue {
  color: #82aaff;
}

.purple {
  color: #c792ea;
}

.green {
  color: #c3e88d;
}

.gold {
  color: #ffcb6b;
}

.app__sec3 {
  width: 100%;
  height: 100%;
  background-color: #0d0630;
}

.app__sec3 > h2 {
  font-size: 3rem;
  text-align: center;
}

.app__projects {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 50px;
}

.app__projects > div {
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app__skills1 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.app__skills1 > img {
  width: 50px;
  height: auto;
}

/* Styles for horizontal scrolling */

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.app__sec1 {
  width: 100%;
  height: 100%;
}

.app__sec2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
  color: black;
}
