* {
  margin: 0;
}

.app {
  background-color: #27233a;
  color: white;
  height: 100vh;
}

.app__sec1info {
  margin-left: 5rem;
  padding-bottom: 2rem;
}

.app__sec1 > div > h1 {
  font-family: "B612", sans-serif;
  font-size: 5rem;
}
.app__sec1 > div > h2 {
  font-family: "B612", sans-serif;
  font-size: 2rem;
}

.app__sec1 {
  padding-top: 8rem;
}
header {
  background-color: #27233a;
  width: 100%;
  position: absolute;
  top: 0;
}

header > img {
  width: 100px;
  height: auto;
}

.app__sec1 > div > span {
  text-align: right;
  display: block;
  margin-right: 3rem;
}

.app__aboutMe {
  margin-left: 5rem;
  padding: 1rem;
  background-color: #292d3e;
  width: 50%;
  border-radius: 20px;
  color: #bfc7d5;
}

.orange {
  color: #f78c6c;
}

.blue {
  color: #82aaff;
}

.purple {
  color: #c792ea;
}

.green {
  color: #c3e88d;
}

.gold {
  color: #ffcb6b;
}

.app__about {
  display: flex;
  align-items: flex-end;
}

.app__aboutMeTag {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.app__sec3 {
  height: 100%;
  background-color: #332e4c;
  padding-top: 2rem;
}

.app__sec3 > h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "B612", sans-serif;
  text-transform: uppercase;
}

.app__projects {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 50px;
  margin: 5rem;
}

.app__projects a > div {
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app__skills1 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.app__skills1 > img {
  width: 50px;
  height: auto;
}

/* Styles for horizontal scrolling */

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.app__sec1 {
  width: 100%;
  height: 100%;
}

.app__sec2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
  color: black;
}

/* media q  */

@media only screen and (max-width: 1000px) {
  .app {
    display: block;
    height: initial;
  }

  .app__sec1 {
    height: initial;
  }

  .app__sec3 {
    height: initial;
    margin-top: 5rem;
  }

  .app__sec1info {
    padding-bottom: 4rem;
  }

  .app__sec3 > h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .app__projects {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .app__sec1 > div > span {
    display: none;
  }
}

@media only screen and (max-width: 796px) {
  .app__projects {
    grid-template-columns: 1fr;
  }

  .app__skills1 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 488px) {
  .app__skills1 {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .app__skills1 {
    display: none;
  }
}
