header {
  background-color: #27233a;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  margin-right: 1rem;
}

header > div > .fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-github {
  font-size: 2rem;
  padding: 0.6rem;
  cursor: pointer;
}

header > div > a {
  color: white;
}

header > div > .fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover {
  color: #c3e88d;
}

header > img {
  width: 100px;
  height: auto;
}
